<div style="width: 50%; margin: auto; padding-bottom: 10px; background-color: #33cabb;">
  <h1 style="text-align: center; padding-top: 10px;">Manufacture API</h1>
  <div style="width: 75%; margin: auto; text-align: justify; background-color: #fff; padding: 10px 20px">
    <h2>Hello, <%= email %> !</h2>
    <p>thank you for using our app, we're excited to have you get started. First, you need to confirm your account. just press the button below.</p>
    <button type="button"><a href='<%= url %>'>Confirm Account</a></button>
    <p>if that doesnt work, copy and paste the following link in your browser:</p>
    <p style="color: blue;"><%= url %></p>
    <p>if you have any question, just reply to this email - we're always happy to help out</p>
    <p>Cheers,</p>
    <p>Developer Manufacture API</p>
  </div>
</div>